<div *ngIf="isLoading"
     class="text-center">
    <div class="spinner-border text-primary"
         role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="!isLoading && !user; else userCard"
     class="row">
    Упс, кажется, такого пользователя не существует!
</div>

<ng-template #userCard>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src={{user?.avatar_url}}
                     alt="{{user?.login}}"
                     class="avatar">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{user?.login}}</h5>
                    <p class="card-text">Тип пользователя: {{user?.type}}</p>
                    <p class="card-text">
                        <a href="https://github.com/{{user?.login}}"
                           target="_blank">Профиль</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-template>